<aside class="wbl-snl-infopanel wbl-snl-infopanel--notice">
	<header class="wbl-snl-infopanel__header">
		{{! This is a comment. Also, things in triple-{ are NOT html-escaped! }}
		<span class="wbl-snl-infopanel__icon">{{{info_icon_HTML}}}</span>
		<span>{{header}}</span>
	</header>
	<div class="wbl-snl-infopanel__content">
		<p class="wbl-snl-infopanel__lexeme-info">{{{lexicographical-data_HTML}}}</p>
		<div class="wbl-snl-lemma-card">
			{{! Things in double-{ are html-escaped and are safe to contain unsanitized user input. }}
			<span class="wbl-snl-lemma-card__lexeme-id">{{{lexeme_id_HTML}}}</span>
			<div class="wbl-snl-lemma-card__lemma">
				<b lang="{{lemma_language_HTML}}">{{lemma_text}}</b>
				<span>{{lemma_language}}</span>
			</div>
			<div class="wbl-snl-lemma-card__lex-meta">
				<span>{{language_label}}{{colon_separator}}{{{language_link_HTML}}}</span>
				<span>{{lexical_category_label}}{{colon_separator}}{{{lexical_category_link_HTML}}}</span>
			</div>
		</div>
		<p class="wbl-snl-infopanel__general-info">{{{no-general-data_HTML}}}</p>
	</div>
</aside>
