Addshore <addshorewiki@gmail.com>
Addshore <addshorewiki@gmail.com> <adamshorland@gmail.com>
Amir E. Aharoni <amir.aharoni@mail.huji.ac.il>
Amir Sarabadani <ladsgroup@gmail.com> <Ladsgroup@gmail.com>
Bartosz Dziewoński <dziewonski@fastmail.fm>
Bartosz Dziewoński <dziewonski@fastmail.fm> <matma.rex@gmail.com>
Christoph Neuroth <christoph.neuroth@gmail.com>
Christoph Neuroth <christoph.neuroth@gmail.com> <christoph.neuroth_ext@wikimedia.de>
Daniel Kinzler <daniel.kinzler@wikimedia.de>
DannyS712 <dannys712.wiki@gmail.com>
DannyS712 <dannys712.wiki@gmail.com> <DannyS712.enwiki@gmail.com>
Jakob Warkotsch <jakob.warkotsch@wikimedia.de>
Jakob Warkotsch <jakob.warkotsch@wikimedia.de> <j.warkotsch@gmail.com>
Jonas Kress <jonas.kress@wikimedia.de>
Leszek Manicki <leszek.manicki@wikimedia.de>
Lucas Werkmeister <lucas.werkmeister@wikimedia.de>
Lucas Werkmeister <lucas.werkmeister@wikimedia.de> <mail@lucaswerkmeister.de>
Marius Hoch <hoo@online.de>
Marius Hoch <hoo@online.de> <mail@mariushoch.de>
Michael Große <mic.grosse@googlemail.com>
Michael Große <mic.grosse@googlemail.com> <michael.grosse@wikimedia.de>
Noa Rave <noa.rave@wikimedia.de>
Pablo Grass <pablo.grass@wikimedia.de>
Silvan Heintze <silvan.heintze@wikimedia.de>
Thiemo Kreuz <thiemo.kreuz@wikimedia.de>
Thiemo Kreuz <thiemo.kreuz@wikimedia.de> <thiemo.maettig@wikimedia.de>
Thomas Arrow <thomas.arrow_ext@wikimedia.de>
Timo Tijhof <krinkle@fastmail.com>
Timo Tijhof <krinkle@fastmail.com> <krinklemail@gmail.com>
Tobias Andersson <tobias.andersson@wikimedia.de>
Tpt <thomaspt@hotmail.fr>
Tpt <thomaspt@hotmail.fr> <thomas@pellissier-tanon.fr>
Zoranzoki21 <zorandori4444@gmail.com>
