@import 'mediawiki.skin.variables.less';

@wbl-snl-breakpoint: 981px;

// Provide custom variables to preserve the CSS unit decision.
@wbl-snl-spacing-small: 0.5em;
@wbl-snl-spacing-large: 1em;
@wbl-snl-spacing-xlarge: 1.5em;
@wbl-snl-margin-vertical: 1rem;
@wbl-snl-margin-medium: 2rem;
@wbl-snl-margin-small: 1.5rem;
@wbl-snl-padding: 1.5rem;

// intro text with search link
.wbl-snl-search-existing-no-js {
	font-family: @font-family-system-sans;
	font-size: 1em;
	font-weight: @font-weight-normal;
	line-height: @line-height-medium;
	color: @color-base;
}

.wbl-snl-message-warning {
	background: @background-color-warning-subtle;
	border: @border-width-base @border-style-base @border-color-warning;
	padding: @wbl-snl-spacing-large @wbl-snl-spacing-xlarge;
	margin: @wbl-snl-spacing-small 0;
	display: inline-flex;
	align-items: flex-start;

	& .oo-ui-iconElement-icon {
		margin-right: @wbl-snl-spacing-small;
	}
}

// Overall page layout
.wbl-snl-main-content {
	display: flex;
	margin-top: 0.5rem;

	@media ( min-width: ( @wbl-snl-breakpoint + 1 ) ) {
		align-items: stretch;

		& > * + * {
			margin-left: @wbl-snl-margin-medium;
		}
	}

	@media ( max-width: @wbl-snl-breakpoint ) {
		flex-direction: column;

		& > * + * {
			margin-top: @wbl-snl-margin-small;
		}
	}

	& > * {
		flex: 1 1 0;
	}
}
// info panel - specificity added to prevent general skin styles from overriding our own
.wbl-snl-main-content .wbl-snl-infopanel {
	font-family: @font-family-system-sans;
	font-size: @font-size-medium;
	font-weight: @font-weight-normal;
	line-height: @line-height-medium;
	border-width: @border-width-base;
	border-style: @border-style-base;
	border-radius: @border-radius-base;
	padding: @wbl-snl-padding;

	&--notice {
		background: @background-color-notice-subtle;
		border-color: @border-color-notice;
	}

	&__content {
		& > * {
			margin-top: @wbl-snl-spacing-large;
			margin-bottom: @wbl-snl-spacing-large;
		}
	}

	&__lexeme-info {
		margin-top: 1rem;
		margin-bottom: 0;
	}

	&__general-info {
		margin-top: 0;
		margin-bottom: 0;
	}

	&__icon {
		margin-right: @wbl-snl-spacing-small;
		line-height: 1;
		vertical-align: top;
	}
}

// lemma-card - specificity added to prevent general skin styles from overriding our own
.wbl-snl-main-content .wbl-snl-lemma-card {
	background-color: @background-color-base;
	padding: @wbl-snl-spacing-large @wbl-snl-spacing-xlarge;
	border: @border-base;
	border-radius: @border-radius-base;
	display: inline-flex;
	align-items: center;
	margin: @wbl-snl-margin-vertical 0;

	&__lexeme-id {
		padding-right: @wbl-snl-spacing-small;
		color: @color-subtle;
	}

	&__lemma {
		display: flex;
		flex-direction: column;
		padding-left: @wbl-snl-spacing-small;
		border-left: 4px @border-style-base @border-color-subtle;
	}

	&__lex-meta {
		display: flex;
		flex-direction: column;
		margin-left: @wbl-snl-spacing-large;
	}
}

// override Wikit styles, specificity 1-0-0 or 0-3-0 should be enough
.wbl-snl-main-content.wbl-snl-main-content.wbl-snl-main-content,
.wbl-snl-main-content.wbl-snl-main-content.wbl-snl-main-content *,
#wbl-snl-intro-text-wrapper,
#wbl-snl-intro-text-wrapper * {
	// inherit the skin’s font family
	font-family: unset;
}
