@button-disabled-color: #72777d;
@warning-background: #fee7e6;
@warning-color: #b32424;

@wikibase-root: '../../Wikibase';
@wb-ooui-icon-path: '@{wikibase-root}/view/resources/jquery/wikibase/toolbar/themes/default/images/icons/ooui';
