.lemma-widget {
	display: flex;

	&_lemma-list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		flex-grow: 1;
	}

	&_lemma {
		display: flex;
		flex-direction: column;
		border-left: 6px solid #ededed;
		padding: 0 9px;
		margin: 11px;
	}

	&_lemma-value {
		font-size: 3em;
	}

	&_lemma-language {
		font-size: 1.5em;
		font-family: sans-serif;
	}

	&_edit-area {
		flex-grow: 1;
		display: flex;
		border: 3px solid #99ccff;
	}

	&_controls {
		width: 18em; /* Same as div.wikibase-statementview-mainsnak right margin */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	.prepend-with-wikibase-oojs-icon(@image) {
		&:before {
			content:'';

			/* Copied from .wikibase-toolbar-button .wb-icon */
			background-size: 20px 20px;
			width: 20px;
			height: 20px;
			display: inline-block;
			vertical-align: middle;
			background-position: center;

			@wikibase-root: "../../Wikibase";
			@wb-oojs-icon-path: "view/resources/jquery/wikibase/toolbar/themes/default/images/icons/oojs-ui";
			@icon-path: "@{wikibase-root}/@{wb-oojs-icon-path}/@{image}";
			/* @embed */
			background-image: url(@icon-path);
			/* @embed */
			background-image: linear-gradient(transparent, transparent), url(@icon-path);

			opacity: .7;
		}
		&:hover:before {
			opacity: 1;
		}
	}

	.button-displayed-as-link() {
		background: transparent;
		border: none;
		cursor: pointer;
		color: #0d4c99;
		&:hover {
			text-decoration: underline;
		}
	}

	&_edit {
		.button-displayed-as-link;
		.prepend-with-wikibase-oojs-icon('edit-ltr.png');
	}
	&_save {
		.button-displayed-as-link;
		.prepend-with-wikibase-oojs-icon('check.png');
	}
	&_cancel {
		.button-displayed-as-link;
		.prepend-with-wikibase-oojs-icon('close-ltr.png');
	}

	&_lemma-edit-box {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		border-left: 6px solid #dae8fc;
		padding: 0 45px 0 9px;
		margin: 0;

		height: 132px;
	}

	&_lemma-value-input {
		resize: horizontal;
		min-width: 120px;
		padding-right: 20px;

		font-size: 3em;
	}

	&_lemma-value-input:active {
		width: auto;
	}

	&_lemma-language-input {
		resize: horizontal;
		min-width: 120px;
		font-size: 1.5em;
		padding-right: 20px;
	}

	&_lemma-language-input:active {
		width: auto;
	}

	&_lemma-remove {
		border: none;
		background: transparent;
		color: #074c99;
		font-size: 2em;
		cursor: pointer;

		position: absolute;
		top: -5px;
		right: 23px;
	}

	&_add {
		height: 132px;
		border: none;
		font-size: 3em;
		text-align: center;
		background: #dae8fc;
		cursor: pointer;
	}
}
