.wb-lexemepage #firstHeading {
	display: none;
}

#wb-lexeme-header {
	font-size: 100%;
	margin: -1.428em 0 0.25em 0;
	display: flex;
	align-items: center;
}

.wb-lexeme-header_id {
	font-size: 1.25em;
	color: #72777d;
}

.wb-lexeme-header_lemma-widget {
	flex-grow: 1;
	margin-left: 1.6em;
}

.wb-lexeme.wikibase-entityview {
	float: none;
}

.wb-lexeme .wikibase-entitytermsforlanguagelistview-aliases,
.wb-lexeme .wikibase-entitytermsforlanguageview-aliases,
.wb-lexeme .wikibase-entitytermsview-aliases .wikibase-entitytermsforlanguagelistview-description {
	display: none;
}

.wb-lexeme .wikibase-entitytermsforlanguagelistview .wikibase-entitytermsforlanguagelistview-header .wikibase-entitytermsforlanguagelistview-header-row {
	border-right: 0;
	width: 60%;
}

.wikibase-lexeme-forms {
	margin-left: 10px;
}

.wikibase-lexeme-forms .wikibase-lexeme-form {
	position: relative;
	clear: left;
	margin-bottom: 2em;
}

.wikibase-lexeme-form-header {
	display: flex;
	align-items: center;
}
.wikibase-lexeme-form-id {
	font-size: 1em;
	min-width: 2.5em;
	margin-right: 1.25em;
}

.wikibase-lexeme-form-body {
	margin-left: 3.75em;
}

.wikibase-lexeme-form h2.wb-section-heading {
	padding-left: 0;
	font-size: 1em;
}

.wikibase-lexeme-forms-section > .wikibase-toolbar-container {
	position: static;
	float: left;
}

.wikibase-lexeme-form-grammatical-features {
	display: flex;
}
.wikibase-lexeme-form-grammatical-features-header {
	white-space: nowrap;
	align-self: center;
}

.wikibase-lexeme-form-grammatical-features-values {
	margin: 0 10px;
	flex-grow: 1;
}

.wikibase-lexeme-form .wikibase-statementgrouplistview::after,
.wikibase-lexeme-form .wikibase-listview::after,
.wikibase-lexeme-form .wikibase-addtoolbar::after {
	/* This is clearfix */
	/* TODO: Should be done in Wikibase for all elements */
	content: "";
	display: table;
	clear: both;
}

.wb-lexeme {
	@import 'lemma-widget';
}

.wb-lexeme {
	@import 'form-representation-widget';
}

.wikibase-lexeme-senses .wikibase-lexeme-sense {
	position: relative;
	clear: left;
	margin-bottom: 2em;
}

.wikibase-lexeme-senses .wikibase-lexeme-sense {
	position: relative;
	clear: left;
}

.wikibase-lexeme-senses-section > .wikibase-toolbar-container {
	position: static;
	float: left;
}

/* =========== wikibase-lexeme-sense-glosses =========== */

.wikibase-lexeme-sense-glosses {
	margin-right: 252px;
}

.wikibase-lexeme-sense-glosses-table {
	color: #565a60;
	width: 100%;
	border-left: 6px solid #ededed;
}

.wikibase-lexeme-sense-gloss-table-header {
	color: #000;
}

.wikibase-lexeme-sense-glosses-table td {
	vertical-align: top;
}

.wikibase-lexeme-sense-gloss:first-of-type {
	color: #000;
}

.wikibase-lexeme-sense-glosses-sense-id {
	display: none;
}

.wikibase-lexeme-sense-gloss:first-of-type .wikibase-lexeme-sense-glosses-sense-id {
	display: inline;
}

.wikibase-lexeme-sense-gloss-language {
	padding: 0 5px;
	white-space: nowrap;
}

.wikibase-lexeme-sense-gloss-value-cell {
	width: 99%; /* ... because it is a table cell */
}

.wikibase-lexeme-sense-gloss-value-input {
	width: 100%;
	resize: horizontal;
}

.wikibase-lexeme-sense-glosses-control {
	text-transform: capitalize;
	color: #1f66cc;
	background: transparent;
	border: none;
	cursor: pointer;
}

.wikibase-lexeme-sense-glosses-control:hover {
	text-decoration: underline;
}

.wikibase-lexeme-sense .wikibase-statementgrouplistview::after {
	/* This is clearfix */
	/* TODO: Should be done in Wikibase for all elements */
	content: "";
	display: table;
	clear: both;
}

.wikibase-lexeme-sense-id {
	padding: 5px 0;
	min-width: 3.75em;
}

.wikibase-lexeme-sense-header {
	padding-left: 10px;
	display: flex;
	align-items: center;
}

.wikibase-lexeme-sense .wikibase-lexeme-sense-statements .wikibase-statements {
	padding-left: 0;
}

.wikibase-lexeme-sense h2.wb-section-heading {
	padding-left: 0;
	font-size: 1em;
}

.wikibase-lexeme-sense .wikibase-lexeme-sense-statements {
	margin-left: calc(3.75em * 1.2);
}
