.wb-lexeme.wikibase-entityview {
	float: none;
}

.wb-lexeme .wikibase-entitytermsforlanguagelistview-aliases,
.wb-lexeme .wikibase-entitytermsforlanguageview-aliases,
.wb-lexeme .wikibase-entitytermsview-aliases .wikibase-entitytermsforlanguagelistview-description {
	display: none;
}

.wb-lexeme .wikibase-entitytermsforlanguagelistview .wikibase-entitytermsforlanguagelistview-header .wikibase-entitytermsforlanguagelistview-header-row {
	border-right: 0;
	width: 60%;
}

.wikibase-lexeme-forms .wikibase-lexeme-form {
	position: relative;
	clear: left;
}

.wikibase-lexeme-form-header {
	display: flex;
	align-items: center;
}
.wikibase-lexeme-form-id {
	font-size: 2em;
}

.wikibase-lexeme-forms .wikibase-lexeme-form-representation {
	clear: left;
	margin-left: 10px; /* same as .wb-section-heading */
	position: relative;
	border-bottom: 1px solid #a2a9b1;
	font-weight: normal;
}

.wikibase-lexeme-form-representation .wikibase-toolbar-container {
	font-size: 0.833em; /* reset from h3 size to 100% for toolbar alignment */
}

.wikibase-lexeme-forms .wikibase-lexeme-form-representation textarea {
	display: inline-block;
	font-size: 0.9em;
	height: 1.5em;
	vertical-align: middle;
}

.wikibase-lexeme-forms-section > .wikibase-toolbar-container {
	position: static;
	float: left;
}

.wikibase-lexeme-form-grammatical-features {
	display: flex;
}

.wikibase-lexeme-form-grammatical-features-values {
	margin: 0 10px;
	flex-grow: 1;
}

.wikibase-lexeme-form .wikibase-statementgrouplistview::after,
.wikibase-lexeme-form .wikibase-listview::after,
.wikibase-lexeme-form .wikibase-addtoolbar::after {
	/* This is clearfix */
	/* TODO: Should be done in Wikibase for all elements */
	content: "";
	display: table;
	clear: both;
}

.lemma-widget {
	display: flex;
}

.lemma-widget_lemma-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
}

.lemma-widget_lemma {
	display: flex;
	flex-direction: column;
	border-left: 6px solid #ededed;
	padding: 0 9px;
	margin-bottom: 22px;
}

.lemma-widget_lemma-value {
	font-size: 3em;
	font-weight: bold;
}

.lemma-widget_lemma-language {
	font-size: 1.5em;
}

.lemma-widget_edit-area {
	display: flex;
	border: 3px solid #99ccff;
}

.lemma-widget_controls {
	width: 100px;
	padding: 20px 40px;
	background: #dae8fc;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.lemma-widget_control {
	background: transparent;
	border: none;
	font-size: 1.5em;
	margin: 10px;
	cursor: pointer;
	color: #0d4c99;
}

.lemma-widget_lemma-edit-box {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-left: 6px solid #dae8fc;
	padding: 0 45px 0 9px;
	margin-bottom: 22px;

	height: 132px;
}

.lemma-widget_lemma-value-input {
	resize: horizontal;
	min-width: 120px;
	padding-right: 20px;

	font-size: 3em;
}

.lemma-widget_lemma-value-input:active {
	width: auto;
}

.lemma-widget_lemma-language-input {
	resize: horizontal;
	min-width: 120px;
	font-size: 1.5em;
	padding-right: 20px;
}

.lemma-widget_lemma-language-input:active {
	width: auto;
}

.lemma-widget_lemma-remove {
	border: none;
	background: transparent;
	color: #074c99;
	font-size: 2em;
	cursor: pointer;

	position: absolute;
	top: -11px;
	right: 23px;
}

.lemma-widget_add {
	height: 132px;
	border: none;
	font-size: 3em;
	text-align: center;
	background: #dae8fc;
	cursor: pointer;
}

.representation-widget {
	display: flex;
	margin: 0 2em;
}

.representation-widget_representation-list {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
}

.representation-widget_representation {
	display: flex;
	flex-direction: column;
	border-left: 6px solid #ededed;
	padding: 0 9px;
	margin: 11px 0;
}

.representation-widget_representation-value {
	font-size: 2em;
	font-weight: bold;
}

.representation-widget_representation-language {
	font-size: 1em;
}

.representation-widget_edit-area {
	display: flex;
	border: 2px solid #99ccff;
}

.representation-widget_controls {
	width: 100px;
	padding: 20px 40px;
	background: #dae8fc;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.representation-widget_control {
	background: transparent;
	border: none;
	font-size: 1em;
	margin: 10px;
	cursor: pointer;
	color: #0d4c99;
}

.representation-widget_representation-edit-box {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-left: 6px solid #dae8fc;
	padding: 0 45px 0 9px;
	margin: 11px 0;

	height: 132px;
}

.representation-widget_representation-value-input {
	resize: horizontal;
	min-width: 120px;
	padding-right: 20px;

	font-size: 2em;
}

.representation-widget_representation-value-input:active {
	width: auto;
}

.representation-widget_representation-language-input {
	resize: horizontal;
	min-width: 120px;
	font-size: 1em;
	padding-right: 20px;
}

.representation-widget_representation-language-input:active {
	width: auto;
}

.representation-widget_representation-remove {
	border: none;
	background: transparent;
	color: #074c99;
	font-size: 2em;
	cursor: pointer;

	position: absolute;
	top: -11px;
	right: 23px;
}

.representation-widget_add {
	height: 100%;
	border: none;
	font-size: 2em;
	text-align: center;
	background: #dae8fc;
	cursor: pointer;
}

.wikibase-lexeme-senses .wikibase-lexeme-sense {
	position: relative;
	clear: left;
}

.wikibase-lexeme-senses .wikibase-lexeme-sense {
	position: relative;
	clear: left;
}

.wikibase-lexeme-senses-section > .wikibase-toolbar-container {
	position: static;
	float: left;
}

/* =========== wikibase-lexeme-sense-glosses =========== */

.wikibase-lexeme-sense-glosses {
	margin-right: 252px;
}

.wikibase-lexeme-sense-glosses-table {
	width: 100%;
}

.wikibase-lexeme-sense-gloss:first-of-type {
	font-weight: bold
}

.wikibase-lexeme-sense-glosses-sense-id {
	display: none;
}

.wikibase-lexeme-sense-gloss:first-of-type .wikibase-lexeme-sense-glosses-sense-id {
	display: inline;
}

.wikibase-lexeme-sense-gloss-language {
	min-width: 10em;
	white-space: nowrap;
}

.wikibase-lexeme-sense-gloss-value-cell {
	width: 99%; /* ... because it is a table cell */
}

.wikibase-lexeme-sense-gloss-value-input {
	width: 100%;
	resize: horizontal;
}

.wikibase-lexeme-sense-glosses-control {
	text-transform: capitalize;
	color: #1f66cc;
	background: transparent;
	border: none;
	cursor: pointer;
}

.wikibase-lexeme-sense-glosses-control:hover {
	text-decoration: underline;
}

.wikibase-lexeme-sense .wikibase-statementgrouplistview::after {
	/* This is clearfix */
	/* TODO: Should be done in Wikibase for all elements */
	content: "";
	display: table;
	clear: both;
}
