.wb-lexeme.wikibase-entityview {
	float: none;
}

.wb-lexeme .wikibase-entitytermsforlanguagelistview-aliases,
.wb-lexeme .wikibase-entitytermsforlanguageview-aliases,
.wb-lexeme .wikibase-entitytermsview-aliases .wikibase-entitytermsforlanguagelistview-description {
	display: none;
}

.wb-lexeme .wikibase-entitytermsforlanguagelistview .wikibase-entitytermsforlanguagelistview-header .wikibase-entitytermsforlanguagelistview-header-row {
	border-right: 0;
	width: 60%;
}
